{% extends 'admin/base.html.twig' %}

{% block main %}


<div class="container row g-3 align-items-center">
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Licence</th>
            <th scope="col">Option</th>
        </tr>
    </thead>
    <tbody>
       <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}€</td>
            <td>{{product.stock}}</td>
            <td>{{product.description}}</td>
            <td>{{product.category.name}}</td>
            <td>{{product.licence.name}}</td>
            <td>
            <a href="{{ path('admin_product_update',{'id' : product.id})}}" style="color: black">
            <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="{{ path('admin_product_delete',{'id' : product.id})}}" style="color: black">
            <i class="fa-solid fa-trash-can"></i>
            </a>
            </td>
        </tr>
    </tbody>
    </table>
</div>

{% for media in product.media %}

    <img src="{{ asset("media/" ~ media.src) }}" alt="{{ media.alt }}">
    
{% endfor %}

{% endblock %}