{% extends "front/base.html.twig" %}

{% block main %}
   
<div class="container row g-3 align-items-center">
 <h2>Products lists</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Licence</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
        <th scope="row"><a href="{{ path('front_product_show', {'id' : product.id } ) }}" style="color: black" >{{ product.id }}</a></th>
        <td>{{product.name}}</td>
        <td>{{product.price}}€</td>
        <td>{{product.stock}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.licence.name}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}